[submodule "backend"]
	path = backend
	url = https://github.com/Jsesan/PatientRegistrationBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jsesan/PatientRegistrationFrontend
